* {
  font-family: "Noto Sans", sans-serif;

  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fefefe;
}
.container {
  align-content: space-between;
}
.container .card {
  background-color: black;

  width: 240px;
  height: 320px;
}
